@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding-top: 30px;
    padding-bottom: 30px;
}

.calculadora {
    max-width: 300px;
    margin: auto;
    border: 4px solid;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
}

.calculadora input {
    background: rgb(22, 26, 36);
    border: none;
    box-shadow: none;
    width: 100%;
    border-bottom: 4px solid;
    height: 50px;
    padding: 10px 10px;
    text-align: right;
    font-size: 30px;
    outline: none;
    box-shadow: none;
    border-color: rgb(22, 26, 36);
    color: rgb(112, 235, 194);
}

.calculadora-botones {
    border-top: 4px solid;
    background:rgb(35, 41, 56);
    border: none;
    padding: 10px;
    font-size: 20px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    text-align: center;
}

.boton {
    padding: 5px;
    font-size: 26px;
    border-radius: 40%;
    background:rgb(35, 41, 56);
    color: rgb(131, 136, 164);
    border: none;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    outline: none;
}

.igual {
    grid-row: span 2;
    color: rgb(35, 41, 56);
    background: rgb(107, 239, 213);
}

.retroceso {
    color:rgb(255, 193, 208);
    
    background:rgb(205, 44, 88);
}

.operacion {
    background-color: rgb(51, 59, 77);
}